@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root{

    /* variables globals */
    /* colors */
    --green-50: #EDF7E8;
    --green-100: #DBEFB9;
    --green-200: #C9E8B9;
    --green-300: #B7E0A2;
    --green-400: #A5D88B;
    --green-500: #93D074;
    --green-600: #81C85D;
    --green-700: #6FC046;
    --green-800: #5DD12E;
    --green-900: #4BBD17;
    --green-950: #39A900;

    --secondary-green: #007832;
    --secondary-blue: #50E5F9;
    --warning: #FDC300;
    --expired: #EF4443;

    --white: #FFFFFF;
    --black: #000000;

    --gray-100: #313131;
    --gray-80: #626262;
    --gray-60: #949494;
    --gray-40: #C5C5C5;
    --gray-20: #F6F6F6;
   
     /* font family */
     --main-family: 'WorkSans';
     --secundary-family: 'Calibri';
    
    /* Light (300) */
    --weight-light: 300;
    --weight-regular: 400;
    --weight-medium: 500;
    --weight-semibold: 600;
    --weight-bold: 700;
   
   
    }
/* Estandarizo estilos */
html {
    margin: 0;
    box-sizing: border-box;
    font-size: 62.5%;
}

*, *:before, *:after {
    box-sizing: inherit;
}

/* headings */
h1 {
    font-size: 3.2rem;
}
h2 {
    font-size: 2.4rem;
    font-weight: var(--weight-bold);
}
h3 {
    font-size: 2rem;
}
h4 {
    font-size: 1.6rem;
}
h5 {
    font-size: 1.4rem;
}
h6 {
    font-size: 1.2rem;
}

/* Cuerpo de la pag. */
body {
    font-family: var(--main-family), var(--secundary-family);
    margin: 0 ;
} 

/* logotipo SGAL*/
.box-logo-sgal{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 16%;
}

.logo-sgal {
    height: 100%;
    width: auto;
}/* logotipo SGAL*/

/* Botones */
.box-button {
    width: 100%;
    display: flex;
    justify-content: center;
}

button {
    display: flex;
    justify-content: center;
    background-color: var(--green-950);
    font-family: var(--main-family), var(--secundary-family);
    font-size: 1.6rem;
    color: var(--white);
    padding: 1.2rem 2.4rem;
    border: none;
    border-radius: 0.6rem;
    cursor: pointer;
    width: 100%;
}

button:hover{
    background-color: var(--green-900);
}/* Botones */

/* Cajas de texto */
.box-text {
    display: flex;
    width: 100%;
    height: 5.6rem;
    line-height: 1.5;
    margin: 0 auto;
}/* Cajas de texto */

/*------------------- Estandarizo estilos ---------------------*/

/* login, olvide-contraseña-recuperar */
.login{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(../images/fondo-login.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 2rem;
}
.content-login, .content-olvide-contraseña-recuperar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
    height: 100%;
    width: 100%;
    padding: 10%;
}

.box-title-login{
    display: flex;
    justify-content: center;
    width: 100%;
}

/* formulario */
.form-login, .form-olvide-contraseña-recuperar{
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
}

.box-email, .box-password label{
    font-size: 1.6rem;
    font-weight: var(--weight-semibold);
}/* formulario */


/* link olvidar contraseña */
.box-question{
    display: flex;
    justify-content: center;
    width: 100%;
}

a {
    text-decoration: none;
    color: var(--green-950);
    font-size: 1.6rem;
}

a:hover {
    color: var(--green-800);
}
/* link olvidar contraseña */

/* Media queries */
@media (min-width: 480px){
    .content-login{
        max-width: 90%;
        max-height: 90%;
        gap: 2rem;
    }

    .title-login, .title-olvide-contraseña{
        height: 20%;
    }

    button{
        max-width: 80%;
    }

}

@media(min-width:768px){
    .content-login{
        padding: 10%;
        max-width: 60%;
    } 

    .form-login{
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .box-text {
        width: 100%;
        height: 5.6rem; 
    }
}

 @media(min-width:1024px){
    .content-login{
        max-width: 80rem;
        padding: 4rem 12rem;
    } 

    .form-login {
        width: 80%; 
    }

    button{
        max-width: 40%;
    }
}/* Media queries */
/* ------------------------login----------------------- */


/* login-olvide-contraseña */
.title-olvide-contraseña{
    color: var(--green-950);
    text-align: center;
    font-weight: var(--weight-medium);
}

.form-olvide-contraseña {
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: column;
    gap: 10rem;
    justify-content: center;
}
/* Media queries */
@media(min-width: 480px){
    .form-olvide-contraseña {
        gap: 4rem;
    }
}
@media(min-width: 768px){
    .form-olvide-contraseña{
        padding-left: 2rem;
        padding-right: 2rem;
    }
}
@media(min-width: 1024px){
    .form-olvide-contraseña {
        width: 80%; 
    }
}/* Media queries */

/* -------------------login-olvide-contraseña----------------- */

/* olvide-contraseña-recuperar */

/* Media queries */
@media (min-width: 480px){
    .content-olvide-contraseña-recuperar{
        max-width: 90%;
        max-height: 90%;
        gap: 4rem;
    }
}

@media(min-width:768px){
    .content-olvide-contraseña-recuperar{
        padding: 10%;
        max-width: 60%;
    } 
    .form-olvide-contraseña-recuperar{
        width: 80%;
    }
} 

@media(min-width:1024px){
   .content-olvide-contraseña-recuperar{
        max-width: 80rem;
        padding: 4rem 12rem;
        } 
    .form-olvide-contraseña-recuperar{
        width: 60%;
    }
}/* Media queries */

/* --------------olvide-contraseña-recuperar---------------- */

/* actualizar-contraseña */

/* header */
.header{
    display: flex;
    flex-direction: column; 
    gap: 2rem;
    margin: 1rem 0;
    padding: 0 2rem;  
}

/* logotipo SENA */
.box-logo-sena{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 8rem;
}

.logo-sena {
    display: flex;
    height: 100%;
    width: auto;
}/* logotipo SENA */

.title-actualizar-contraseña{
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    text-align: center;
}

.box-logotipe-sgal{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 8rem;
}

.logotipe-name{
    display: flex;
    font-size: 2.4rem;
    font-weight: var(--weight-bold);
    align-items: end;
    margin: 0.8rem 0;
}/* header */

/* main */
.main-actualizacion-contraseña{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: var(--gray-40);
}

.form-actualizar-contraseña{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4rem;
    width: 100%;
    padding: 1rem;
}

.box-modified_button{
    display: flex;
    width: 100%;
    justify-content: center;
}/* main */

/* Media queries */
@media(min-width: 480px){
    .main-actualizacion-contraseña{
        padding: 1rem 1rem;
    }
}

@media(min-width: 768px){
    .header{
        flex-direction: row;
        width: 100%;
        height: 8rem; 
        justify-content: space-between;
        align-items: center;
    }

    .box-logo-sena, .box-logotipe-sgal{
        width: 20%;
    }
    .title-actualizar-contraseña{
        width: 60%;
    }
}/* Media queries */
/* -----------------------------actualizar-contraseña------------------------------------ */



/* Consultas */

/* consultas-usuarios */
.main-consultas{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--green-200);
    padding: 2rem;
}

.content-consultas{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background-color: var(--white);
    height: 100%;
    width: 100%;
    padding: 6rem;
}

.volver{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0;
    color: var(--green-950);
}
.volver:hover{
    color: var(--green-900);
}

.box-logotipe-sgal-consultas{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 8rem;
    height: auto;
}

.logotipe-name-consultas{
    display: flex;
    justify-content: center;
    font-size: 2.4rem;
    font-weight: var(--weight-bold);
    margin: 0;
}

.form-consultas-usuarios{
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: column;
    margin: 4rem 0;
    gap: 6rem;
    justify-content: center;
}

.text-consultas{
    display: flex;
    justify-content: center;
    font-weight: var(--weight-regular);
    align-items: center;
    width: auto;
    text-align: left;
}

.box-text-id{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 1.6rem;
}

.box-id{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 5.6rem;
}

.box-button-buscar{
    display: flex;
    justify-content: center;
    width: 100%;
}

.button-buscar{
    display: flex;
    width: 100%;
}

@media(min-width: 480px){
    .content-consultas{
        height: 96%;
        width: 80%; 
    }

    .box-id{
        width: 90%;
    }
    .text-consultas{
        text-align: center;
    }
    
}
@media(min-width: 768px){

    .volver{
        width: 100%;
        justify-items: left;
        margin-left: 5rem;
    }

    .box-logotipe-sgal-consultas{
        width: 10rem;
    } 
    
    .box-button-buscar{
        padding: 0 5%;
    }
}

@media(min-width:1024px){
    .content-consultas{
        width: 50%;
        height: 86%;
    }

    .volver{
        width: 100%;
        justify-items: left;
        margin-left: 10rem;
    }

    .box-button-buscar{
        padding: 0 10%;
    }
}/* consultas-usuarios */

/* -------------------------------------VIsualizaciones-------------------------------- */
/* VIsualización usuario, sensor */
.main-visualizacion{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: var(--gray-40);
    padding: 2rem;
}

.box-container-visualización{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--white);
    height: 100%;
    width: 100%;
    padding: 4rem;
    gap: 4rem;
    border-radius: 1rem;
}

.container-visualizacion{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
}


.box-text-visualizacion{
    display: flex;
    justify-content: left;
    text-align: left;
    width: 100%;
    padding: 1rem;
    font-size: 1.6rem;
    font-weight: var(--weight-semibold);
}

.text-visualizacion{
    display: flex;
    width: auto;
    margin-bottom: 4rem;
}

.box-image{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
}

img{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10rem;
    height: 10rem;
    border-radius: 2rem;

}

/* input chack radio */
.box-check-radio{
    display: flex;
    flex-direction: column;
    justify-content: left;
    text-align: left;
    width: 100%;
    font-size: 1.6rem;
    font-weight: var(--weight-semibold);
    gap: 1rem;
    margin: 2rem;
}
.check-radio{
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
    font-weight: var(--weight-semibold);
    justify-content: left;
    /* margin-right: 8rem; */
    gap: 2rem;
}

.radios{
    display: flex;
    justify-content: left;
}

input{
    accent-color: var(--green-950);
}/* input chack radio */

/* Link-visualizacion */
.links-visualizacion{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-size: 1.2rem;
    gap: 1rem;
    margin-bottom: 4rem;
}

.volver-visualizacion, .actualizar{
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 0;
        color: var(--green-950);
}
.volver-visualiacion, .actualizar:hover{
    color: var(--green-900);
}/* Link-visualizacion */

@media(min-width: 480px){
    .main-visualizacion{
        height: 100vh;
    }

    .container-visualizacion{
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }
    .box-image{
        margin: 0;
    }
}
    
@media(min-width: 768px){
    .box-container-visualización{
        flex-direction: column;
        padding: 6rem 4rem;
        width: 40rem;
        height: 50rem;
        gap: 2rem;
    }

    .text-visualizacion{
        font-size: 1.2rem;
    }
    
    img{
        width: 10rem;
        height: 10rem;
    }
    .box-check-radio{
        font-size: 1.2rem;
    }
    .check-radio{
        flex-direction: row;
        gap: 10rem;
        font-size: 1rem;
    }
    .links-visualizacion{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 0;
    }
}/* VIsualización usuario, sensor */

/* Visualización insumo */
.text-visualizacion-insumo{
    display: flex;
    width: auto;
    margin-bottom: 2rem;
}

.box-container-visualización-insumo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--white);
    height: 100%;
    width: 100%;
    padding: 4rem;
    gap: 2rem;
    border-radius: 1rem;
}
/* Media querie */
@media(min-width: 768px){
    .box-container-visualización-insumo{
        flex-direction: column;
        padding: 6rem 4rem;
        width: 40rem;
        height: 50rem;
        gap: 2rem;
    }
    .text-visualizacion-insumo{
        font-size: 1.2rem;
    }
}/* Media querie */
/* Visualización insumo */