@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Quicksand:wght@300..700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

:root {
	--green-50: #edf7e8;
	--green-100: #dbefb9;
	--green-200: #c9e8b9;
	--green-300: #b7e0a2;
	--green-400: #a5d88b;
	--green-500: #93d074;
	--green-600: #81c85d;
	--green-700: #6fc046;
	--green-800: #5dd12e;
	--green-900: #4bbd17;
	--green-950: #39a900;

	--secondary-green: #007832;
	--secondary-blue: #50e5f9;
	--warning: #fdc300;
	--expired: #ef4443;

	--white: #ffffff;
	--black: #000000;

	--gray-100: #313131;
	--gray-80: #626262;
	--gray-60: #949494;
	--gray-40: #c5c5c5;
	--gray-20: #f6f6f6;

	/* font family */
	--main-family: "WorkSans";
	--secundary-family: "Calibri";

	/* Light (300) */
	--weight-light: 300;
	--weight-regular: 400;
	--weight-medium: 500;
	--weight-semibold: 600;
	--weight-bold: 700;
}

html {
	margin: 0;
	box-sizing: border-box;
	font-size: 62.5%;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	font-family: var(--main-family), var(--secundary-family);
	margin: 0;
}

a {
	text-decoration: none;
	color: var(--green-950);
	font-size: 1.6rem;
}

a:hover {
	color: var(--green-800);
}

.main-visualizacion {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	background-color: var(--gray-40);
	padding: 2rem;
}

.box-container-visualización {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: var(--white);
	height: 100%;
	width: 100%;
	padding: 4rem;
	gap: 4rem;
	border-radius: 1rem;
}

.container-visualizacion {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: auto;
}

.box-text-visualizacion {
	display: flex;
	justify-content: left;
	text-align: left;
	width: 100%;
	padding: 1rem;
	font-size: 1.6rem;
	font-weight: var(--weight-semibold);
}

.text-visualizacion {
	display: flex;
	width: auto;
	margin-bottom: 4rem;
}

.box-image {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: auto;
}

img {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 10rem;
	height: 10rem;
	border-radius: 2rem;
}

/* input chack radio */
.box-check-radio {
	display: flex;
	flex-direction: column;
	justify-content: left;
	text-align: left;
	width: 100%;
	font-size: 1.6rem;
	font-weight: var(--weight-semibold);
	gap: 1rem;
	margin: 2rem;
}
.check-radio {
	display: flex;
	flex-direction: column;
	font-size: 1.2rem;
	font-weight: var(--weight-semibold);
	justify-content: left;
	/* margin-right: 8rem; */
	gap: 2rem;
}

.radios {
	display: flex;
	justify-content: left;
}

input {
	accent-color: var(--green-950);
} /* input chack radio */

/* Link-visualizacion */
.links-visualizacion {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	font-size: 1.2rem;
	gap: 1rem;
	margin-bottom: 4rem;
}

.volver-visualizacion,
.actualizar {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin: 0;
	color: var(--green-950);
}
.volver-visualiacion,
.actualizar:hover {
	color: var(--green-900);
} /* Link-visualizacion */

@media (min-width: 480px) {
	.main-visualizacion {
		height: 100vh;
	}

	.container-visualizacion {
		flex-direction: row;
		justify-content: space-between;
		width: 100%;
	}
	.box-image {
		margin: 0;
	}
}

@media (min-width: 768px) {
	.box-container-visualización {
		flex-direction: column;
		padding: 6rem 4rem;
		width: 40rem;
		height: 50rem;
		gap: 2rem;
	}

	.text-visualizacion {
		font-size: 1.2rem;
	}

	img {
		width: 10rem;
		height: 10rem;
	}
	.box-check-radio {
		font-size: 1.2rem;
	}
	.check-radio {
		flex-direction: row;
		gap: 10rem;
		font-size: 1rem;
	}
	.links-visualizacion {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		margin: 0;
	}
} /* VIsualización usuario, sensor */

/* Visualización insumo */
.text-visualizacion-insumo {
	display: flex;
	width: auto;
	margin-bottom: 2rem;
}

.box-container-visualización-insumo {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: var(--white);
	height: 100%;
	width: 100%;
	padding: 4rem;
	gap: 2rem;
	border-radius: 1rem;
}
/* Media querie */
@media (min-width: 768px) {
	.box-container-visualización-insumo {
		flex-direction: column;
		padding: 6rem 4rem;
		width: 40rem;
		height: 50rem;
		gap: 2rem;
	}
	.text-visualizacion-insumo {
		font-size: 1.2rem;
	}
} /* Media querie */
/* Visualización insumo */

/* VIsualizacion ciclo del cultivo */

.img-ciclo {
	width: 100%;
	height: auto;
}

.text-visualizacion-ciclo {
	display: flex;
	justify-content: left;
	text-align: left;
	width: 100%;
	padding: 1rem;
	font-size: 1.6rem;
	font-weight: var(--weight-semibold);
}

@media (min-width: 768px) {
	.img-ciclo {
		margin: 0;
	}

	.text-visualizacion-ciclo {
		font-size: 1.2rem;
	}
}

/* VIsualizacion ciclo del cultivo */
