.nav {
	background-color: var(--white);
	padding: 0.3rem 1rem;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.nav__user-image {
	width: 3rem;
	height: 3rem;
	border-radius: 9999px;
	margin-left: 1rem;
	object-fit: cover;
}

.nav__right-content {
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

.nav__list {
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	gap: 1rem;
	align-items: center;
}

.nav__item {
	position: relative;
}

.nav__link {
	text-decoration: none;
	color: var(--gray-80);
	display: flex;
	align-items: center;
	padding: 0.8rem;
	user-select: none;
	transition: color 0.5s ease;
}

.nav__link:hover {
	color: var(--black);
}

.nav__link--selected {
	color: var(--black);
	font-weight: 600;
}

.nav__icon {
	font-size: 1.2rem;
}


.nav__dropdown-content {
	display: none;
	position: absolute;
	margin-left: 1rem;
	background-color: #ffffff;
	border: 1px solid var(--gray-40);
	border-radius: 6px;
	z-index: 1;
	min-width: 11rem;
}

.nav__dropdown-content .nav__link {
	padding: 0.625rem;
	font-size: 0.9rem;
	border-radius: 6px;
	color: var(--gray-80);
}

.nav__dropdown-content .nav__link:hover {
	background-color: var(--gray-20);
	color: var(--black);
} 

.nav__dropdown-side-menu{
	display: none;
	flex-direction: column;
	gap: 0.3rem;
	z-index: 1;
	border-radius: 6px;
	background-color: #ffffff;
	border: 1px solid var(--gray-40);
	position: absolute;
	right: 2rem;
}

.nav__dropdown-side-menu .nav__link {
	padding: 0.8rem;
	font-size: 0.9rem;
	border-radius: 6px;
	transition: color 0.5s ease;
}

.nav__dropdown-side-menu .nav__link:hover {
	background-color: var(--gray-20);
	color: var(--black);
}

.nav__item--dropdown:hover .nav__dropdown-content {
	display: block;
}

.nav__dropdown-content a:hover {
	background-color: #f0f0f0;
}