<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link
			href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:wght@100;400;700"
			rel="stylesheet"
		/>
		<link
			href="https://fonts.googleapis.com/icon?family=Material+Icons"
			rel="stylesheet"
		/>
		<title>Inicio</title>
		<link rel="shortcut icon" href="../imgs/logoSena.svg" type="image/x-icon" />
		<link rel="stylesheet" href="../css/pages/home.css" />
		<link rel="stylesheet" href="../css/components/footer.css" />
		<link rel="stylesheet" href="../css/components/navbar.css" />
		<script type="module" src="../js/pages/componentLoader.js"></script>
	</head>

	<body>
		<nav class="nav-render"></nav>
		<main class="main">
			<section class="main__section main__section--first-row">
				<div class="cards-container">
					<div class="card">
						<div class="card__header">
							<h2 class="card__title">Insumos</h2>
							<span class="card__icon material-symbols-outlined"
								>inventory_2</span
							>
						</div>
						<h3 class="card__value">1.200 Items</h3>
						<button class="card__button">
							<a href="listar-insumos.html" class="card__link"
								>Ir a Insumos
								<span class="card__icon-button material-symbols-outlined"
									>arrow_forward</span
								>
							</a>
						</button>
						<p class="card__footer">+20 nuevos esta semana</p>
					</div>
					<div class="card">
						<div class="card__header">
							<h2 class="card__title">Sensores</h2>
							<span class="card__icon material-symbols-outlined">sensors</span>
						</div>
						<h3 class="card__value">1.200 Items</h3>
						<button class="card__button">
							<a href="listar-sensores.html" class="card__link"
								>Ir a Sensores
								<span class="card__icon-button material-symbols-outlined"
									>arrow_forward</span
								>
							</a>
						</button>
						<p class="card__footer">+15 alertas esta semana</p>
					</div>
					<div class="card">
						<div class="card__header">
							<h2 class="card__title">Usuarios</h2>
							<span class="card__icon material-symbols-outlined">group</span>
						</div>
						<h3 class="card__value">1.200 Items</h3>
						<button class="card__button">
							<a href="listar-usuarios.html" class="card__link"
								>Ir a Usuarios
								<span class="card__icon-button material-symbols-outlined"
									>arrow_forward</span
								>
							</a>
						</button>
						<p class="card__footer">+10 nuevos esta semana</p>
					</div>
					<div class="card">
						<div class="card__header">
							<h2 class="card__title">Cultivos</h2>
							<span class="card__icon material-symbols-outlined"
								>nutrition</span
							>
						</div>
						<h3 class="card__value">1.200 Items</h3>
						<button class="card__button">
							<a href="listar-cultivos.html" class="card__link"
								>Ir a Cultivos
								<span class="card__icon-button material-symbols-outlined"
									>arrow_forward</span
								>
							</a>
						</button>
						<p class="card__footer">+10 nuevos esta semana</p>
					</div>
				</div>
				<div class="widget">
					<div class="widget__main-weather">
						<div class="widget__weather-icon">
							<span class="widget__sun material-icons">wb_sunny</span>
							<span class="widget__cloud material-icons">cloud</span>
						</div>
						<div class="widget__temperature">
							<div class="widget__temp-value">32°</div>
							<div class="widget__condition">
								<p>Nublado<span></span><br />Dosquebradas</p>
							</div>
						</div>
					</div>
					<div class="widget__stats">
						<div class="widget__stat-item">
							<span class="widget__stat-icon material-icons">air</span>
							<div class="widget__stat-value">16 km/h</div>
						</div>
						<div class="widget__stat-item">
							<span class="widget__stat-icon material-icons">water_drop</span>
							<div class="widget__stat-value">83 %</div>
						</div>
						<div class="widget__stat-item">
							<span class="widget__stat-icon material-icons">light_mode</span>
							<div class="widget__stat-value">6 de 10</div>
						</div>
					</div>
				</div>
			</section>
			<section class="info-container">
				<div class="cultives-info">
					<h2 class="cultives-info__title">Vista de Cultivos</h2>
					<table class="cultives-info__table">
						<thead class="cultives-info__thead">
							<tr class="cultives-info__tr">
								<th class="cultives-info__th">Nombre</th>
								<th class="cultives-info__th">Novedades</th>
							</tr>
						</thead>
						<tbody class="cultives-info__tbody">
							<tr class="cultives-info__tr">
								<td class="cultives-info__td">Cultivo de Tomates</td>
								<td class="cultives-info__td">Plaga controlada</td>
							</tr>
							<tr class="cultives-info__tr">
								<td class="cultives-info__td">Cultivo de Maíz</td>
								<td class="cultives-info__td">Riego automatizado</td>
							</tr>
							<tr class="cultives-info__tr">
								<td class="cultives-info__td">Cultivo de Fresas</td>
								<td class="cultives-info__td">Cosecha iniciada</td>
							</tr>
							<tr class="cultives-info__tr">
								<td class="cultives-info__td">Cultivo de Lechugas</td>
								<td class="cultives-info__td">Crecimiento óptimo</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="finances-info">
					<h2 class="finances-info__title">Resumen Financiero</h2>
					<div class="finances-info__row">
						<aside class="finances-info__aside">
							<h3 class="finances-info__subtitle">Ingresos del mes</h3>
							<p class="finances-info__value finances-info__value--positive">
								$7,000,000
							</p>
						</aside>
						<div class="finances-info__versus">
							<p>
								<span class="finances-info__positive">+20%</span> vs mes pasado
							</p>
						</div>
					</div>
					<div class="finances-info__row">
						<aside class="finances-info__aside">
							<h3 class="finances-info__subtitle">Gastos del mes</h3>
							<p class="finances-info__value finances-info__value--negative">
								$4,200,000
							</p>
						</aside>
						<div class="finances-info__versus">
							<p>
								<span class="finances-info__negative">+5%</span> vs mes pasado
							</p>
						</div>
					</div>
					<div class="finances-info__row">
						<aside class="finances-info__aside">
							<h3 class="finances-info__subtitle">Beneficio neto</h3>
							<p class="finances-info__value finances-info__value--positive">
								$2,750,000
							</p>
						</aside>
						<div class="finances-info__versus">
							<p>
								<span class="finances-info__positive">+2%</span> vs mes pasado
							</p>
						</div>
					</div>
				</div>
				<div class="todo-list">
					<h2 class="todo-list__title">Tareas pendientes</h2>
					<ul class="todo-list__ul">
						<li class="todo-list__li">
							<input
								type="checkbox"
								class="todo-list__checkbox"
								checked
							/>Reparar cercas y estructuras
						</li>
						<li class="todo-list__li">
							<input
								type="checkbox"
								class="todo-list__checkbox"
								checked
							/>Mantener herramientas y equipos
						</li>
						<li class="todo-list__li">
							<input
								type="checkbox"
								class="todo-list__checkbox"
								checked
							/>Preparar compost
						</li>
						<li class="todo-list__li">
							<input type="checkbox" class="todo-list__checkbox" />Lavar los
							bebederos y comederos
						</li>
						<li class="todo-list__li">
							<input type="checkbox" class="todo-list__checkbox" />Controlar
							plagas
						</li>
					</ul>
				</div>
			</section>
		</main>
		<footer class="footer"></footer>
	</body>
</html>
